* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0 auto;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 30px 0px 40px 0;
  color: #1e1e1e;
}

article {
  padding: 50px;
  width: 612px;
}

a {
  text-decoration: none;
}

a > strong {
  text-decoration: none;
  color: #222;
  border-bottom: 1px solid #dcdcdc;
}

figure {
  padding: 0;
  width: 412px;
  margin-left: 0px;
}

figure > img {
  padding: 0px;
  margin: 0px;
  width: 412px;
}

figcaption {
  background-color: #111111;
  padding: 16px;
  margin: 0;
  border: none;
  color: #ececec;
}

h2 {
  font-size: 20px;
  color: #404040;
}

p {
  color: #404040;
  margin-top: 18px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  color: #dbdbdb;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 40px;
}

ul > li {
  margin-top: 18px;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  color: #404040;
}

ul {
  list-style-type: square;
  list-style-position: outside;
  padding-left: 18px;
}

footer {
  background-color: #4c4c4c;
  margin-top: 40px;
  height: 50px;
}

.span-uscan {
  font-size: 20px;
  color: #222;
  padding: 0px 12px 0px 0px;
  margin-left: 20px;
  font-weight: 500;
}

.a-uscan {
  text-decoration: none;
  border-bottom: 5px solid #bb1919;
}

.a-us-elec {
  text-decoration: none;

  margin-bottom: 20px;
}

.span-us-elec {
  padding: 10px 4px 10px 4px;
  color: #686868;
  border: 1px solid #bdbdbd;
  margin-bottom: 20px;
}

.span-us-elec:hover {
  background-color: #10619f;
  color: #fff;
}

.img-container {
  width: auto;
}

.news-intro {
  font-size: 16px;
  font-weight: bold;
}

.hoverable:hover {
  color: #1167a8 !important;
}

.link-news p {
  margin-top: 60px !important;
  color: blue !important;
}

.footer-p {
  color: #fff;
  font-size: 13px;
  text-align: center;
  padding-top: 18px;
}

.footer-p .footer-a > strong {
  border: none;
  color: #fff;
}

@media (min-width: 700px) {

  article {
    margin: 35px 100px 35px 180px;
    padding: 0;
  }

  figure {
    width: 612px;
  }

  figure > img {
    width: 612px;
  }
}